# DIMENSIONALITY REDUCTION & DATA PROJECTION WITH SAGEMAKER

## <<< DATA PREPROCESSING >>>

### 1 - SET DATA DIRECTORY

In [1]:
DATA_DIR = "./data/"
dataset_abalone = DATA_DIR + "abalone.csv"
dataset_auto_mpg = DATA_DIR + "auto-mpg.csv"

### 2 - IMPORT LIBRARIES

In [2]:
# Import scientific's libraries
import io
import time
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

!pip install -U pandas-profiling
from pandas_profiling import ProfileReport

# Import Machine Learning's libraries
import sklearn as sk
from sklearn import manifold
from sklearn import datasets
from sklearn import decomposition
from sklearn import ensemble
from sklearn import discriminant_analysis
from sklearn import random_projection
from sklearn import neighbors
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

# Print ML's libraries version
print("\nSKLEARN VERSION\n", sk.__version__)
print("\nNUMPY VERSION\n", np.__version__)
print("\nPANDAS VERSION\n", pd.__version__)

Requirement already up-to-date: pandas-profiling in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (2.8.0)
Requirement already satisfied, skipping upgrade: astropy>=4.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (4.0.1.post1)
Requirement already satisfied, skipping upgrade: phik>=0.9.10 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: htmlmin>=0.1.12 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied, skipping upgrade: missingno>=0.4.2 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: ipywidgets>=7.5.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (7.5.1)
Requirement already satisfied, skipping upgrade: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (1.0.5)
Requirement already satisfied, skipping upgrade: scipy>=1.4.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (1.5.0)
Requirement already satisfied, skipping upgrade: confuse>=1.0.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (1.3.0)
Requirement already satisfied, skipping upgrade: matplotlib>=3.2.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (3.2.1)
Requirement already satisfied, skipping upgrade: requests>=2.23.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (2.23.0)
Requirement already satisfied, skipping upgrade: joblib in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (0.14.1)
Requirement already satisfied, skipping upgrade: tangled-up-in-unicode>=0.0.6 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (0.0.6)
Requirement already satisfied, skipping upgrade: tqdm>=4.43.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (4.45.0)
Requirement already satisfied, skipping upgrade: numpy>=1.16.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (1.17.4)
Requirement already satisfied, skipping upgrade: jinja2>=2.11.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (2.11.1)
Requirement already satisfied, skipping upgrade: visions[type_image_path]==0.4.4 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas-profiling) (0.4.4)
Requirement already satisfied, skipping upgrade: numba>=0.38.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from phik>=0.9.10->pandas-profiling) (0.50.1)
Requirement already satisfied, skipping upgrade: seaborn in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from missingno>=0.4.2->pandas-profiling) (0.9.0)
Requirement already satisfied, skipping upgrade: ipykernel>=4.5.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.1.4)
Requirement already satisfied, skipping upgrade: traitlets>=4.3.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (4.3.3)
Requirement already satisfied, skipping upgrade: ipython>=4.0.0; python_version >= "3.3" in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (7.13.0)
Requirement already satisfied, skipping upgrade: nbformat>=4.2.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.0.4)
Requirement already satisfied, skipping upgrade: widgetsnbextension~=3.5.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (3.5.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling) (2020.1)
Requirement already satisfied, skipping upgrade: pyyaml in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from confuse>=1.0.0->pandas-profiling) (5.3.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.2.0)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from requests>=2.23.0->pandas-profiling) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from requests>=2.23.0->pandas-profiling) (1.25.9)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from requests>=2.23.0->pandas-profiling) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from requests>=2.23.0->pandas-profiling) (2.9)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: networkx>=2.4 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (2.4)
Requirement already satisfied, skipping upgrade: attrs>=19.3.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (19.3.0)
Requirement already satisfied, skipping upgrade: Pillow; extra == "type_image_path" in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (7.1.2)
Requirement already satisfied, skipping upgrade: imagehash; extra == "type_image_path" in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (4.1.0)
Requirement already satisfied, skipping upgrade: setuptools in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling) (44.0.0.post20200106)
Requirement already satisfied, skipping upgrade: llvmlite<0.34,>=0.33.0.dev0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling) (0.33.0)
Requirement already satisfied, skipping upgrade: jupyter-client in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.1.2)
Requirement already satisfied, skipping upgrade: tornado>=4.2 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.0.4)
Requirement already satisfied, skipping upgrade: ipython-genutils in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: decorator in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling) (4.4.2)
Requirement already satisfied, skipping upgrade: six in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling) (1.13.0)
Requirement already satisfied, skipping upgrade: pygments in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.6.1)
Requirement already satisfied, skipping upgrade: backcall in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.1.0)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (3.0.4)
Requirement already satisfied, skipping upgrade: pickleshare in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.5)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.16.0)
Requirement already satisfied, skipping upgrade: colorama; sys_platform == "win32" in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.4.3)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (3.2.0)
Requirement already satisfied, skipping upgrade: jupyter-core in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (4.6.3)
Requirement already satisfied, skipping upgrade: notebook>=4.4.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (6.0.2)
Requirement already satisfied, skipping upgrade: PyWavelets in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.4.4->pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: pyzmq>=13 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (18.1.1)
Requirement already satisfied, skipping upgrade: wcwidth in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.1.9)
Requirement already satisfied, skipping upgrade: parso>=0.5.2 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.6.2)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.16.0)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (1.5.0)
Requirement already satisfied, skipping upgrade: pywin32>=1.0; sys_platform == "win32" in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (227)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.3)
Requirement already satisfied, skipping upgrade: Send2Trash in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.5.0)
Requirement already satisfied, skipping upgrade: nbconvert in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (5.6.1)
Requirement already satisfied, skipping upgrade: prometheus-client in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.7.1)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (2.2.0)
Requirement already satisfied, skipping upgrade: testpath in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.4.4)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.4.2)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.4)
Requirement already satisfied, skipping upgrade: bleach in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (3.1.4)
Requirement already satisfied, skipping upgrade: defusedxml in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.3)
Requirement already satisfied, skipping upgrade: webencodings in d:\iabd\softwares\anaconda3_2019-10\envs\tf2gpu\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.5.1)

SKLEARN VERSION
 0.22.1

NUMPY VERSION
 1.17.4

PANDAS VERSION
 1.0.5

### 3 - METADATA

In [3]:
df_auto_mpg = pd.read_csv(dataset_auto_mpg, names=["Mpg", 
                                                   "Cylinders", 
                                                   "Displacement", 
                                                   "Horsepower", 
                                                   "Weight", 
                                                   "Acceleration", 
                                                   "Model year", 
                                                   "Origin", 
                                                   "Car name"])

In [4]:
df_auto_mpg

,Mpg,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model year,Origin,Car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [5]:
df_auto_mpg['Pollute'] = np.nan
df_auto_mpg

,Mpg,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model year,Origin,Car name,Pollute
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,NaN
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,NaN
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,NaN
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,NaN
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,NaN
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl,NaN
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup,NaN
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage,NaN
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger,NaN
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10,NaN

In [6]:
df_auto_mpg.astype({"Displacement": int, 
                    "Horsepower": int,
                    "Weight" : int,
                    "Acceleration": int})

,Mpg,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model year,Origin,Car name,Pollute
0,18.0,8,307,130,3504,12,70,1,chevrolet chevelle malibu,NaN
1,15.0,8,350,165,3693,11,70,1,buick skylark 320,NaN
2,18.0,8,318,150,3436,11,70,1,plymouth satellite,NaN
3,16.0,8,304,150,3433,12,70,1,amc rebel sst,NaN
4,17.0,8,302,140,3449,10,70,1,ford torino,NaN
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15,82,1,ford mustang gl,NaN
394,44.0,4,97,52,2130,24,82,2,vw pickup,NaN
395,32.0,4,135,84,2295,11,82,1,dodge rampage,NaN
396,28.0,4,120,79,2625,18,82,1,ford ranger,NaN
397,31.0,4,119,82,2720,19,82,1,chevy s-10,NaN

In [7]:
print(df_auto_mpg['Mpg'].median())

for i in df_auto_mpg['Mpg']:
    if i >= df_auto_mpg['Mpg'].median():
        df_auto_mpg['Pollute'] = 1

        print(i, 'Pollue', df_auto_mpg['Pollute'][i])
    elif i < df_auto_mpg['Mpg'].median():
        df_auto_mpg['Pollute'] = 0
        print(i, 'NE POLLUE PAS !', df_auto_mpg['Pollute'][i])
    else:
        print("ERROR!")

23.0
18.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
17.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
24.0 Pollue 1
22.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
21.0 NE POLLUE PAS ! 0
27.0 Pollue 1
26.0 Pollue 1
25.0 Pollue 1
24.0 Pollue 1
25.0 Pollue 1
26.0 Pollue 1
21.0 NE POLLUE PAS ! 0
10.0 NE POLLUE PAS ! 0
10.0 NE POLLUE PAS ! 0
11.0 NE POLLUE PAS ! 0
9.0 NE POLLUE PAS ! 0
27.0 Pollue 1
28.0 Pollue 1
25.0 Pollue 1
25.0 Pollue 1
19.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
17.0 NE POLLUE PAS ! 0
19.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
12.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
22.0 NE POLLUE PAS ! 0
19.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
23.0 Pollue 1
28.0 Pollue 1
30.0 Pollue 1
30.0 Pollue 1
31.0 Pollue 1
35.0 Pollue 1
27.0 Pollue 1
26.0 Pollue 1
24.0 Pollue 1
25.0 Pollue 1
23.0 Pollue 1
20.0 NE POLLUE PAS ! 0
21.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
17.0 NE POLLUE PAS ! 0
11.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
12.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
19.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
22.0 NE POLLUE PAS ! 0
21.0 NE POLLUE PAS ! 0
26.0 Pollue 1
22.0 NE POLLUE PAS ! 0
28.0 Pollue 1
23.0 Pollue 1
28.0 Pollue 1
27.0 Pollue 1
13.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
12.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
12.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
23.0 Pollue 1
26.0 Pollue 1
11.0 NE POLLUE PAS ! 0
12.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
12.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
20.0 NE POLLUE PAS ! 0
21.0 NE POLLUE PAS ! 0
22.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
19.0 NE POLLUE PAS ! 0
21.0 NE POLLUE PAS ! 0
26.0 Pollue 1
15.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
29.0 Pollue 1
24.0 Pollue 1
20.0 NE POLLUE PAS ! 0
19.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
24.0 Pollue 1
20.0 NE POLLUE PAS ! 0
11.0 NE POLLUE PAS ! 0
20.0 NE POLLUE PAS ! 0
21.0 NE POLLUE PAS ! 0
19.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
31.0 Pollue 1
26.0 Pollue 1
32.0 Pollue 1
25.0 Pollue 1
16.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
29.0 Pollue 1
26.0 Pollue 1
26.0 Pollue 1
31.0 Pollue 1
32.0 Pollue 1
28.0 Pollue 1
24.0 Pollue 1
26.0 Pollue 1
24.0 Pollue 1
26.0 Pollue 1
31.0 Pollue 1
19.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
14.0 NE POLLUE PAS ! 0
17.0 NE POLLUE PAS ! 0
16.0 NE POLLUE PAS ! 0
15.0 NE POLLUE PAS ! 0
18.0 NE POLLUE PAS ! 0
21.0 NE POLLUE PAS ! 0
20.0 NE POLLUE PAS ! 0
13.0 NE POLLUE PAS ! 0
29.0 Pollue 1
23.0 Pollue 1
20.0 NE POLLUE PAS ! 0
23.0 Pollue 1
24.0 Pollue 1
25.0 Pollue 1
24.0 Pollue 1
18.0 NE POLLUE PAS ! 0
29.0 Pollue 1
19.0 NE POLLUE PAS ! 0
23.0 Pollue 1
23.0 Pollue 1
22.0 NE POLLUE PAS ! 0
25.0 Pollue 1
33.0 Pollue 1
28.0 Pollue 1
25.0 Pollue 1
25.0 Pollue 1
26.0 Pollue 1
27.0 Pollue 1

TypeError: cannot do label indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [17.5] of <class 'float'>

In [ ]:
one = 0
zero = 0

for i in df_auto_mpg['Pollute']:
    if i == 1:
        one += 1
    elif i == 0:
        zero += 1
        
print("Pollute (1):", one)
print("Don't Pollute (0):", zero)

In [ ]:
df_auto_mpg

In [ ]:
profile_df_auto_mpg = ProfileReport(df_auto_mpg, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile_df_auto_mpg.to_widgets()

### 1 - Analyze Dataset

In [8]:
df_abalone = pd.read_csv(dataset_abalone, names=["Sex", 
                                                   "Length", 
                                                   "Diameter", 
                                                   "Height", 
                                                   "Whole weight", 
                                                   "Shucked weight", 
                                                   "Viscera weight", 
                                                   "Shell weight", 
                                                   "Rings"])

In [9]:
df_abalone

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [10]:
profile_df_abalone = ProfileReport(df_abalone, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile_df_abalone.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=23.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

### 2 - Remove High correlation

In [11]:
df_abalone = df_abalone.drop(['Length', 'Whole weight', 'Viscera weight', 'Shell weight'], axis=1)

We'll drop **Length, Whole weight, Viscera weight** and **Shell weight** because there are too much **high correlation** between these features in our dataset.

In [12]:
df_abalone

     Sex  Diameter  Height  Shucked weight  Rings
0      M     0.365   0.095          0.2245     15
1      M     0.265   0.090          0.0995      7
2      F     0.420   0.135          0.2565      9
3      M     0.365   0.125          0.2155     10
4      I     0.255   0.080          0.0895      7
...   ..       ...     ...             ...    ...
4172   F     0.450   0.165          0.3700     11
4173   M     0.440   0.135          0.4390     10
4174   M     0.475   0.205          0.5255      9
4175   F     0.485   0.150          0.5310     10
4176   M     0.555   0.195          0.9455     12

[4177 rows x 5 columns]

In [13]:
profile_df_abalone = ProfileReport(df_abalone, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile_df_abalone.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=19.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

### 4 - Split dataset in matrix (x) & vector (y)

In [15]:
X = df_abalone.drop(['Rings'], axis=1)
y = df_abalone['Rings']

In [16]:
X

     Sex  Diameter  Height  Shucked weight
0      M     0.365   0.095          0.2245
1      M     0.265   0.090          0.0995
2      F     0.420   0.135          0.2565
3      M     0.365   0.125          0.2155
4      I     0.255   0.080          0.0895
...   ..       ...     ...             ...
4172   F     0.450   0.165          0.3700
4173   M     0.440   0.135          0.4390
4174   M     0.475   0.205          0.5255
4175   F     0.485   0.150          0.5310
4176   M     0.555   0.195          0.9455

[4177 rows x 4 columns]

In [17]:
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

### 3 - Label encode: Sex (var categorical)

In [24]:
labelencoder_X = LabelEncoder()
print(df_abalone.iloc[:, 0])

X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
# onehotencoder = OneHotEncoder(categorical_features = [3])
# X = onehotencoder.fit_transform(X).toarray()
# X = X[:, 1:]

0       M
1       M
2       F
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: Sex, Length: 4177, dtype: object

TypeError: '(slice(None, None, None), 0)' is an invalid key

## <<< MACHINE LEARNING >>>

### 1 - Principle Component Analysis (PCA)

In [ ]:
%%time
X_pca = decomposition.TruncatedSVD(n_components = 2).fit_transform(X)

# Attach the label for each 2-d data point
X_pca = np.vstack((X_pca.T, Y)).T

# Start time for processing
start_time = time.time()

dataset_pca = pd.DataFrame(X_pca, columns = ['First_Component',
                                             'Second_Component',
                                             'Churn'])
sns.FacetGrid(data = dataset_pca, hue = 'Churn', height = 6)\
   .map(plt.scatter, 'First_Component', 'Second_Component')\
   .add_legend()

print("--- Learning time : %s seconds ---\n" % (time.time() - start_time))